@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --mainFF: Outfit, sans-serif;
    --headerFF: YoungSerif, sans-serif;
    --mainFontWeight: 400;
    --secondaryFontWeight: 575;
    --headerFontWeight: 800;
    --primaryBrown: hsl(14, 45%, 36%);
    --primaryPink: hsl(332, 51%, 32%);
    --background: hsl(30, 54%, 90%);
    --pinkLight: hsl(330, 100%, 98%);
    --textColour: hsl(30, 18%, 87%);
    --textColour1: hsl(30, 10%, 34%);
    --headerColour2: hsl(24, 5%, 18%);
}

body, main {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: var(--mainFF);
    display: grid;
    place-content: center;
    color: var(--textColour1);
    line-height: 1.5;
}

.card {
    min-width: 375px;
    max-width: 720px;
    background-color: white;
    overflow-x: hidden;
}

.container {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.omelette-image {
    display: block;
    margin: auto;
    max-width: calc(720px - 5rem);
}

.title {
    font-size: 3rem;
    line-height: 1;
    color: var(--headerColour2);
    margin-block: 1rem 2rem;
}

.prep-card {
    background-color: var(--pinkLight);
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 10px;
    margin-block-start: 2rem;
}

.recipe-info li::marker {
    color: var(--primaryPink);
}

li {
    padding-inline-start: 1.25rem;
    padding-block-end: 1rem;
}

li::marker {
    color: var(--primaryBrown);
}

ol li::marker {
    font-weight: var(--secondaryFontWeight);
}

.prep-card h3 {
    color: var(--primaryPink);
    font-size: 1.25rem;
    margin: 0;
    font-weight: var(--secondaryFontWeight);
}

.bold-lower {
    font-weight: var(--secondaryFontWeight);
}

.section-title, .title {
    font-family: var(--headerFF);
    font-weight: var(--headerFontWeight);
}

.section-title {
    font-size: 2rem;
    font-weight: var(--secondaryFontWeight);
    margin-block-end: 0;
}

.brown {
    color: var(--primaryBrown);
}

section:not(section:last-of-type), .row:not(.row:last-of-type) {
    border-bottom: 1px solid var(--textColour);
}

.row {
    display: flex;
}

.row p:first-child {
    margin-inline-start: 2.5rem;
    width: 4rem;
}

.row p:last-child {
    margin: auto;
    width: 4rem;
}

/* Media Queries */

@media screen and (width > 640px) {
    main {
        padding: 5rem;
    }
    .card {
        border-radius: 30px;
    }
}

@media screen and (width > 800px) {
    .omelette-image {
        border-radius: 10px;
        margin-block-start: 3vw;
    }
}